<%- include('./header', {adminName: adminName}) %>

  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <!-- <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>

          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">David Grey. H</span>
            <span class="text-secondary text-small">Project Manager</span>
          </div> 
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard">
            <span class="menu-title">DASHBOARD</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-products" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">PRODUCTS</span>
            <i class="menu-arrow"></i>
            <i class="mdi menu-icon mdi-shoe-formal" style="font-size: 24px"></i>
          </a>
          <div class="collapse" id="ui-products">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" href="/admin/products">LISTED</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="">UNLISTED</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/users">
            <span class="menu-title">USERS</span>
            <i class="mdi menu-icon mdi-account-multiple"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-categories" aria-expanded="false"
            aria-controls="ui-basic">
            <span class="menu-title text-dark">CATEGORIES</span>
            <i class="menu-arrow text-dark"></i>
            <i class="mdi mdi-cube-outline menu-icon text-dark"></i>
          </a>
          <div class="collapse" id="ui-categories">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link  text-dark" href="/admin/category">LISTED</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/category/unlisted" style="color: gray;">UNLISTED</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/order">
            <span class="menu-title">ORDERS</span>
            <i class="mdi mdi-cart menu-icon"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/coupon">
            <span class="menu-title">COUPON</span>
            <i class="mdi mdi-tag menu-icon"></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/admin/salesReport">
            <span class="menu-title">SALES REPORT</span>

            <i class="mdi menu-icon mdi-chart-line"></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-offers" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">OFFERS</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-cube-outline menu-icon"></i>
          </a>
          <div class="collapse" id="ui-offers">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/admin/categoryOffer">CATEGORY</a></li>
              <li class="nav-item"> <a class="nav-link" href="/admin/productOffer">PRODUCT</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel" style="width: 85vw">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-dark text-white mr-2">
              <i class="mdi mdi-folder folder-icon"></i>
            </span>
            CATEGORIES
          </h3>
          <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <!-- <a href="/admin/addCategory" class="add btn btn-gradient-primary font-weight-bold" id="add-task">Add Categpry</a>  -->
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#addCategoryModal" id="categoryAddBtn">
                  Add Category
                </button>
              </li>
            </ul>
          </nav>
        </div>

        <div class="row" id="category-card-container">
          <% categories.forEach(function(category) { %>
            <div class="col-md-3 mb-4" id="card<%= category._id %>">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title" style="
                  margin-bottom: 20px;
                  text-transform: uppercase;
                ">
                    <%= category.categoryName %>
                  </h5>
                  <div style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                ">
                    <button type="button" data-id="<%= category._id %>" data-category="<%= category.categoryName %>"
                      class="btn btn-outline-dark btn-sm categoryEditBtn" data-toggle="modal"
                      data-target="#editCategoryModal">
                      Edit
                    </button>
                    <button data-id="<%= category._id %>" data-category="<%= category.categoryName %>" type="button"
                      class="btn btn-outline-danger btn-sm categoryDeleteBtn">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
        </div>

        <!-- Start of add modal -->

        <div class="modal fade modal-backdrop1" id="addCategoryModal" tabindex="-1" role="dialog"
          aria-labelledby="addCategoryModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="padding: 15px">
              <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">ADD CATEGORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="forms-sample" action="" id="category-form" method="POST">
                  <div class="form-group">
                    <label for="model">Category</label>
                    <input type="text" class="form-control" id="category-value" name="category-value"
                      placeholder="category name" />
                    <span id="categoryError" style="color: red; font-size: 13px;"></span>
                  </div>
                  <input type="submit" class="btn btn-outline-dark mr-2" value="Submit" />
                  <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- End of add modal -->

        <!-- Start of edit modal -->

        <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog"
          aria-labelledby="editCategoryModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="padding: 15px">
              <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">EDIT CATEGORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="forms-sample" action="" id="edit-category-form" method="POST">
                  <div class="form-group">
                    <label for="model">Category</label>
                    <input type="text" class="form-control" id="edit-category-value" name="category"
                      placeholder="Category" />
                    <span id="categoryEditError" style="color: red; font-size: 13px;"></span>
                  </div>

                  <input type="submit" class="btn btn-outline-dark mr-2" value="Submit" />
                  <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!-- End of edit modal -->
      </div>
    </div>
  </div>
  <%- include('./loader') %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- SweetAlert JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

  <script src="/static/custom/js/admin/category.js"></script>
    <%- include('./footer') %>