<%- include('./header', {adminName: adminName}) %>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">


                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <span class="menu-title">DASHBOARD</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-products" aria-expanded="false"
                        aria-controls="ui-basic">
                        <span class="menu-title">PRODUCTS</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi menu-icon mdi-shoe-formal" style="font-size: 24px;"></i>
                    </a>
                    <div class="collapse" id="ui-products">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/admin/products">LISTED</a></li>
                            <li class="nav-item"> <a class="nav-link" href="">UNLISTED</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <span class="menu-title">USERS</span>
                        <i class="mdi menu-icon mdi-account-multiple"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-categories" aria-expanded="false"
                        aria-controls="ui-basic">
                        <span class="menu-title">CATEGORIES</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-cube-outline menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-categories">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/admin/category">LISTED</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/admin/category/unlisted">UNLISTED</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/order">
                        <span class="menu-title">ORDERS</span>
                        <i class="mdi mdi-cart menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupon">
                        <span class="menu-title">COUPON</span>
                        <i class="mdi mdi-tag menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/salesReport">
                        <span class="menu-title">SALES REPORT</span>

                        <i class="mdi menu-icon mdi-chart-line"></i>
                    </a>
                </li>


      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-offers" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title text-dark">OFFERS</span>
          <i class="menu-arrow text-dark"></i>
          <i class="mdi mdi-cube-outline text-dark menu-icon"></i>
        </a>
        <div class="collapse" id="ui-offers">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item text-dark"> <a class="nav-link text-dark" href="/admin/categoryOffer">CATEGORY</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/productOffer">PRODUCT</a></li>
          </ul>
        </div>
      </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-dark text-white mr-2">
                            <i class="mdi menu-icon mdi-shoe-formal" style="font-size: 24px"></i>
                        </span>
                        CATEGORY OFFER
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <button type="button" class="btn btn-outline-dark " data-toggle="modal"
                                    data-target="#offerAddModal" id="add-offer-btn">
                                    ADD OFFER
                                </button>

                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="overflow-x: auto">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>CATEGORY</th>
                                        <th>OFFER %</th>
                                        <th>EXPIRY DATE</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="table-container">
                                    <% categoryOffers.forEach((item)=> { %>
                                        <tr id="tr<%= item._id %>">
                                            <td>
                                                <%= item.categoryId.categoryName %>
                                            </td>
                                            <td>
                                                <%= item.percentage %> %
                                            </td>
                            
                                            <td>
                                                <%= item.expiryDate.toISOString().slice(0, 10) %>
                                            </td>
                                            <td>
                                                <button category-name="<%= item.categoryId.categoryName %>" percentage="<%= item.percentage %>" expiry-date="<%= item.expiryDate.toISOString().slice(0, 10) %>" data-offer-id="<%= item._id %>" id="offer<%= item._id %>"
                                                    type="button"
                                                    data-toggle="modal"
                                                    data-target="#offerEditModal" 
                                                    class="btn btn-outline-dark btn-sm offerEditBtn">Edit</button>
                                            </td>
                                            <td>
                                                <button data-offer-id="<%= item._id %>" id="offer<%= item._id %>"
                                                    type="button"
                                                    class="btn btn-outline-dark btn-sm offerDltBtn">Delete</button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
     
                            </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item" id="prevBtn"><a class="page-link text-black" href="#">Previous</a></li>
                        <% for(let i=1; i<= totalPages; i++){ %>
                        <li class="page-item pagenationBtn" data-page-no="<%= i %>"><a class="page-link text-black"><%= i %></a></li>
                        <% } %>
            
                        <li class="page-item" total-pages="<%= totalPages %>" id="nxtBtn"><a class="page-link text-black" href="#">Next</a></li>
                      </ul>
                    </nav>
                </div>

            </div>
            <!-- content-wrapper ends -->


        </div>
    </div>

    <!---------------------------------------------- ADD FORM MODAL START ----------------------------------->

    <div class="modal fade" id="offerAddModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 15px">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">ADD OFFER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="forms-sample" id="offerAddForm">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category">
                                <!-- Add category options here -->
                            </select>                            
                            <span id="categoryError" style="color: red; font-size: 12px"></span>
                        </div>


                        <div class="form-group">
                            <label for="offerPercentage">Offer %</label>
                            <input type="text" class="form-control" id="offerPercentage"
                                placeholder="Enter percentage" />
                            <span id="percentageError" style="color: red; font-size: 12px"></span>
                        </div>

                        <div class="form-group">
                            <label for="expiryDate">Enter expiry date</label>
                            <input class="form-control" type="date" id="expiryDate" placeholder="Expiry date">
                            <span id="expiryDateError" style="color: red; font-size: 12px"></span>

                        </div>

                        <input type="submit" id="cuponAddBtnSubmit" class="btn btn-dark mr-2" />
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


       <!---------------------------------------------- EDIT FORM MODAL START ----------------------------------->

       <div class="modal fade" id="offerEditModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 15px">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">EDIT OFFER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="forms-sample" id="offerEditForm">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <!-- <select class="form-control" id="category"> -->
                                <!-- Add category options here -->
                            <!-- </select>   -->
                             <input type="text" class="form-control" disabled id="editCategory"
                                placeholder="Enter percentage" />
                            <span id="categoryEditError" style="color: red; font-size: 12px"></span>
                        </div>


                        <div class="form-group">
                            <label for="offerPercentage">Offer %</label>
                            <input type="text" class="form-control" id="editPercentage"
                                placeholder="Enter percentage" />
                            <span id="percentageEditError" style="color: red; font-size: 12px"></span>
                        </div>

                        <div class="form-group">
                            <label for="expiryDate">Enter expiry date</label>
                            <input class="form-control" type="date" id="editExpiryDate" placeholder="Expiry date">
                            <span id="expiryDateEditError" style="color: red; font-size: 12px"></span>

                        </div>

                        <input type="submit" id="cuponAddBtnSubmit" class="btn btn-dark mr-2" />
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./loader') %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/custom/js/admin/categoryOffer.js"></script>
    <script src="/static/custom/js/admin/pagenation.js"></script>

  <%- include('./footer') %>