<%- include('./header', {isLogin: isLogin, cartCount: cartCount}) %>

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="bread">
          <span><a href="/" style="color: #4f2f2d;">Home</a></span> / <span><a href="/profile" style="color: #4f2f2d;">Profile</a></span> /
          <span>Address</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="colorlib-product">
  <div class="container">
    <div class="row row-pb-lg">
      <div class="col-md-12">
        <div class="container cart-detail">
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <h2></h2>
            <button
              style="width: auto; border-radius: 10px; height: 40px"
              class="btn theme-bg text-white"
              data-toggle="modal"
              data-target="#addAddressModal"
              id="addAddressBtn"
            >
              Add Address
            </button>
          </div>

          <div class="address-selection" id="addressContainer">
            <% if (address && address.address != 0){ %> <% address.address.map(function (item){ %>
            <div
              style="display: flex; flex-direction: row"
              class="address-card-two"
              id="addressCard<%= item.id %>"
            >
              <div style="flex: 4">
                <p><strong><span id="name<%= item._id %>"><%= item.name %></span></strong></p>
                <p>
                  <span id="locality<%= item._id %>"><%= item.localityAreaStreet %></span>, <span id="landmark<%= item._id %>"><%= item.landmark %></span>, <span id="city<%= item._id %>"><%=item.cityDistrictTown %></span>, <span id="state<%= item._id %>"><%= item.state %></span>, <span id="pincode<%= item._id %>"><%= item.pincode%></span>
                </p>
                <p>Phone: <span id="phone<%= item._id %>"><%= item.phoneNumber %></span></p>
              </div>
              <div
                style="
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                "
              >
                <button
                  class="editDltBtn editBtn"
                  address-id="<%= item._id %>" data-toggle="modal" data-target="#editAddressModal" style="border-color: rgb(76, 174, 212)" > Edit</button>
                <button class="editDltBtn dltBtn" address-id="<%=item._id%>" style="border-color: rgb(250, 141, 141)" > Delete </button>
              </div>
            </div>
            <% }); %> <% } else { %>
              <div class="text-center w-100"> <img src="/static/user/images/empty.png" class="mt-5" width="250px" height="250px" alt="empty cart"> </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ADD ADDRESS MODAL -->
<div
  class="modal fade"
  id="addAddressModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addAddressModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressModalLabel">ADD ADDRESS</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" class="colorlib-form" id="addAddressForm">
          <!-- <h2>Billing Details</h2> -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input
                  type="text"
                  id="fullName"
                  class="form-control"
                  placeholder="Full Name"
                />
                <span id="nameError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="state">Select State</label>
                <div class="form-field">
                  <i class="icon icon-arrow-down3"></i>
                  <select
                    name="people"
                    id="state"
                    class="form-control"
                  ></select>
                  <span id="stateError" style="color: red; margin-left: 20px"></span>

                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="cityDistrictTown">City/District/Town</label>
                <input
                  type="text"
                  id="cityDistrictTown"
                  class="form-control"
                  placeholder="City / District / Town"
                />
                <span id="cityError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="zipPostalCode">Zip/Postal Code</label>
                <input
                  type="text"
                  id="zipPostalCode"
                  class="form-control"
                  placeholder="Zip / Postal"
                />
                <span id="pincodeError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="localityAreaStreet">Locality/Area/Street</label>
                <input
                  type="text"
                  id="localityAreaStreet"
                  class="form-control"
                  placeholder="Locality / Area / Street"
                />
                <span id="localityError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="landmark">Landmark</label>
                <input
                  type="text"
                  id="landmark"
                  class="form-control"
                  placeholder="Landmark"
                />
                <span id="landmarkError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="housenoBuildingApartment"
                  >House no/Building/Apartment</label
                >
                <input
                  type="text"
                  id="housenoBuildingApartment"
                  class="form-control"
                  placeholder="House no / Building / Apartment"
                />
                <span id="houseError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input
                  type="text"
                  id="phone"
                  class="form-control"
                  placeholder="Phone Number"
                />
                <span id="phoneError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" id="addressSaveBtn" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- EDit ADDRESS MODAL -->
<div
  class="modal fade"
  id="editAddressModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addAddressModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressModalLabel">EDIT ADDRESS</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" class="colorlib-form">
          <!-- <h2>Billing Details</h2> -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input
                  type="text"
                  id="fullNameEdit"
                  class="form-control"
                  placeholder="Full Name"
                />
                <span id="nameEditError" style="color: red; margin-left: 20px"></span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="state">Select State</label>
                <div class="form-field">
                  <i class="icon icon-arrow-down3"></i>
                  <select
                    name="people"
                    id="stateEdit"
                    class="form-control"
                  ></select>
                  <span id="stateEditError" style="color: red; margin-left: 20px"></span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="cityDistrictTown">City/District/Town</label>
                <input
                  type="text"
                  id="cityDistrictTownEdit"
                  class="form-control"
                  placeholder="City / District / Town"
                />
                <span id="cityEditError" style="color: red; margin-left: 20px"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="zipPostalCode">Zip/Postal Code</label>
                <input
                  type="text"
                  id="zipPostalCodeEdit"
                  class="form-control"
                  placeholder="Zip / Postal"
                />
                <span id="pincodeEditError" style="color: red; margin-left: 20px"></span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="localityAreaStreet">Locality/Area/Street</label>
                <input
                  type="text"
                  id="localityAreaStreetEdit"
                  class="form-control"
                  placeholder="Locality / Area / Street"
                />
                <span id="localityEditError" style="color: red; margin-left: 20px"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="landmark">Landmark</label>
                <input
                  type="text"
                  id="landmarkEdit"
                  class="form-control"
                  placeholder="Landmark"
                />
                <span id="landmarkEditError" style="color: red; margin-left: 20px"></span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="housenoBuildingApartment"
                  >House no/Building/Apartment</label
                >
                <input
                  type="text"
                  id="housenoBuildingApartmentEdit"
                  class="form-control"
                  placeholder="House no / Building / Apartment"
                />
                <span id="houseEditError" style="color: red; margin-left: 20px"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input
                  type="text"
                  id="phoneEdit"
                  class="form-control"
                  placeholder="Phone Number"
                />
                <span id="phoneEditError" style="color: red; margin-left: 20px"></span>

              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" id="addressEditSaveBtn" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/custom/js/user/address.js"></script>

<%- include('./footer') %>
