<%- include('./header', {isLogin: isLogin}) %>

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="bread">
            <span><a href="/" style="color: #4f2f2d;">Home</a></span> /
            <span>Cart</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="colorlib-product">
    <div class="container">
      <div class="row row-pb-lg">
        <div class="col-md-10 offset-md-1">
          <div class="process-wrap">
            <div class="process text-center active">
              <p><span style="color: #4f2f2d;">01</span></p>
              <h3>Shopping Cart</h3>
            </div>
            <div class="process text-center">
              <p><span>02</span></p>
              <h3>Checkout</h3>
            </div>
            <div class="process text-center">
              <p><span>03</span></p>
              <h3>Order Complete</h3>
            </div>
          </div>
        </div>
      </div>

      
      <div class="row row-pb-lg">
        <div class="col-md-12">
            <div class="product-container">
                <div class="product-name d-flex">
                    <div class="one-forth text-left px-4">
                        <span>Product Details</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Price</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Quantity</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Total</span>
                    </div>
                    <div class="one-eight text-center px-4">
                        <span>Remove</span>
                    </div>
                </div>
    
                <div id="cartItemsContainer">
                    <!-- Cart items will be added here -->
                </div>
            </div>
            <a id="showCouponBtn" style="background-color: white; color: black;" class="btn btn-primary" data-toggle="modal"
                data-target="#showCoupons">View Coupons</a>
        </div>
    </div>
    
      <div class="row row-pb-lg">
        <div class="col-md-12">
          <div class="total-wrap">
            <div class="row">
              <div class="col-sm-8">
                <form action="#" id="couponApplyForm">
                  <div class="row form-group">
                    <div class="col-sm-9">
                      <input type="text" name="couponNumber" id="couponApplyInput" class="form-control input-number"
                        placeholder="Your Coupon Number..." />
                    </div>
                    <div class="col-sm-3">
                      <input type="submit" id="couponApplyBtn" style="background-color: #4f2f2d; color: rgb(255, 255, 255);"
                        value="Apply Coupon" class="btn btn-primary" />
                    </div>
                  </div>
                </form>

                <div style="width: 50%; display: none;" id="couponAddedDoneCard">
                  <div class="total d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-column justify-content-center">
                      <span><span style="font-weight:500" id="couponCodeDisplay"> Coupon code</span> applied</span>
                      <span id="offerPercentageDisplay"> 10% off</span>
                    </div>
                    <a style="color: red;" class="flex-1" href="" id="couponRemoveBtn">Remove</a>
                  </div>

                  <div style="background-color: rgb(182, 104, 104);">
                    <span style="color: white; display: none; text-align: center;" id="minOrderAmountMsg">
                      Minimun order amount should be <span></span>
                    </span>
                  </div>
                </div>
        
              </div>
              <div class="col-sm-4 text-center">
                <div class="total">
                  <div class="sub">
                    <p>
                      <span>Total Price:</span>
                      <span id="subtotalValue">₹ 0</span>
                    </p>
                    <p>
                      <span>Delivery:</span>
                      <span id="shippingCharge">₹ 0</span>
                    </p>
                    <p><span>Discount:</span>
                      <span id="couponDiscountAmount">₹ 0</span>
                    </p>
                  </div>
                  <div class="grand-total">
                    <p>
                      <span><strong>Total Amount:</strong></span>
                      <span id="grossTotalValue">₹ 0</span>
                    </p>
                  </div>
                </div>

                <a style="
                  width: 100%;
                  border-radius: 10px;
                  height: 50px;
                  margin-top: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #4f2f2d;
                  color: rgb(255, 255, 255);
                " class="btn btn-primary" id="proceedToBuy" style="pointer-events: none;">
                  Proceed to Buy
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="showCoupons" tabindex="-1" role="dialog" aria-labelledby="showCouponLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 40%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showCouponLabel">COUPONS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="product-cart" id="wishlistItemContainer">
            <% coupons.forEach((item)=> { %>

              <div class="text-center" style="display: flex; flex-direction: row;">
                <div class="display-tc d-flex flex-column justify-content-center " style="flex: 2;">
                  <span class="price" style="font-size: 15px;">
                    <%= item.discountPercentage %>% off on orders above Rs <%= item.minOrderAmount %>
                  </span>
                  <span class="price">Max offer limit: Rs <%= item.maxOfferLimit %></span>
                </div>


                <div class="display-tc d-flex flex-column justify-content-center" style="flex: 2;">
                  <span class="price">
                    <%= item.couponCode %>
                  </span>
                </div>

                <div class="display-tc d-flex flex-column justify-content-center align-items-center" style="flex: 1;">
                  <a class="copyToClipboard" id="<%= item._id %>" coupon-code="<%= item.couponCode %>"
                    style="background-color: white; color: black; border: 0.5px dotted black; padding: 4px 6px; border-radius: 13px; font-size: 11px;">Copy</a>
                </div>

              </div>

              <% }) %>

          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/custom/js/user/cart.js"></script>

  <%- include('./footer') %>