<%- include('./header', {isLogin: isLogin, cartCount}) %>
<aside id="colorlib-hero">
  <div class="flexslider">
    <ul class="slides">
      <% if(categoryOffers.length > 0){ %>
      <% categoryOffers.forEach((item) => { %>
      <li style="background-image: url(/static/user/images/pexels-nandu-vasudevan-167142178-10939830.jpg)">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <h1 class="head-1"><%= item.categoryId.categoryName %></h1>
                  <!-- <h2 class="head-2">Arrival</h2> -->
                  <h2 class="head-3">
                    up to <strong class="font-weight-bold"><%= item.percentage %>%</strong> off
                  </h2>
                  <p class="category"><span></span></p>
                  <p><a href="/shop" class="btn btn-primary" style="background-color: #4f2f2d;">Shop Collection</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% }) %>
      <% }else{ %>
        <li style="background-image: url(/static/user/images/pexels-nandu-vasudevan-167142178-10939830.jpg)">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6 offset-sm-3 text-center slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <h1 class="head-1">Step Up</h1>
                    <!-- <h2 class="head-2">Arrival</h2> -->
                    <h2 class="head-3">
                      <strong class="font-weight-bold">Your Style with Our Shoe Collection</strong>
                    </h2>
                    <p class="category"><span></span></p>
                    <p><a href="/shop" class="btn btn-primary" style="background-color: #4f2f2d;">Shop Collection</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</aside>
<!-- <div class="colorlib-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="intro">
          Your Style's Next Move. Elevate every step with our trendy footwear selections!
        </h2>
      </div>
    </div>
  </div>
</div> -->


<div class="colorlib-product">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
        <h2>New Arrivals</h2>
      </div>
    </div>
    <div class="row row-pb-md">

          <% newArrivals.forEach((item) => { %>
            
            <div class="col-lg-4 mb-4 text-center">
              <div class="product-entry border">
                  <a href="/shop/items/<%= item._id %>" class="prod-img">
                      <img src="/static/images/<%= item.varient[0].images[0] %>" class="img-fluid" alt="Free html5 bootstrap 4 template">
                  </a>
                  <div class="desc">
                      <h2>
                          <a href="/shop/items/<%= item._id %>">
                              <%= item.modelName %> <%= item.category.categoryName %> for <%= item.gender %>
                          </a>
                      </h2>
                  </div>
              </div>
          </div>
          
          
        <% }) %>      


    
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p><a href="/shop" style="background-color: #4f2f2d;" class="btn btn-primary btn-lg">Shop All Products</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('./footer') %>
