<%- include('./header', {isLogin: isLogin, cartCount: cartCount}) %>

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="bread">
            <span><a href="/" style="color: #4f2f2d;">Home</a></span> / <span><a href="/profile" style="color: #4f2f2d;">Profile</a></span> /
            <span>Order</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="colorlib-product">
    <div class="container">
      <div class="row row-pb-lg">
        <div class="col-md-12">

          <div class="row row-pb-lg">
            <div class="col-md-12">
              <div class="product-name d-flex">
                <div class="one-forth text-left px-4">
                  <span>Order Details</span>
                </div>
                <div class="one-eight text-center">
                  <span>Amount</span>
                </div>
                <div class="one-eight text-center">
                  <span>Payment status</span>
                </div>
        
                <div class="one-eight text-center">
                  <span>Method</span>
                </div>
  
                <div class="one-eight text-center px-4">
                  <span></span>
                </div>
              </div>
   

              <div id="orderItemsContainer">
                <% if(orders.length != 0){ %>
                <% orders.forEach((order)=> { %>

                  <div class="product-cart d-flex" id="orderItemContainer<%= order._id %>">
                    <div class="one-forth" style="display: flex; justify-content: space-between;">
                      <div>
                      <div class="product-img"
                        style="background-image: url('/static/images/<%= order.orderedItems[0].image %>');">
                      </div>
                      <div class="display-tc">
                        <span style="margin-left: 30px; color: black">Order id: <%= order.orderId %></span><br>
                        <span style="margin-left: 30px;" class="price">Items: <%= order.orderedItems.length %>
                        </span><br>
                        <span style="margin-left: 30px;" class="price">Date: <%- new
                            Date(order.orderedDate).toLocaleDateString() %></span><br>
                      </div>
                    </div>

                      <!-- <div style="align-self: center;">
                        <% if(order.paymentMethod!="COD" && order.paymentStatus=="Pending"){ %>
                          <a id="payAmountNow" order-id="<%= order._id %>" class="button editDltBtn" style="border-color: blue; padding: 5px; color: blue; background-color: white;">Pay now</a>
                        <% } %>
                      </div> -->
                    </div>
                    <div class="one-eight text-center">
                      <div class="display-tc">
                        <span class="price">₹ <%= order.totalAmount %></span>
                      </div>
                    </div>
                    <% if(order.paymentStatus == "Success"){ %>
                    <div class="one-eight text-center">
                      <div class="display-tc">
                        <span class="price" style="color: green;">
                          <%= order.paymentStatus %>
                        </span>
                      </div>
                    </div>
                    <% } else if(order.paymentStatus == "Pending") { %>
                      <div class="one-eight text-center">
                        <div class="display-tc">
                          <span class="price" style="color: rgb(217, 160, 28);">
                            <%= order.paymentStatus %>
                          </span>
                        </div>
                      </div>
                      <% } %>
                   
                    <div class="one-eight text-center">
                      <div class="display-tc">
                        <span class="price" id="total${item._id}">
                          <%= order.paymentMethod=="ONLINE_PAYMENT" ? "Online" : order.paymentMethod=="WALLET" ? "Wallet" : order.paymentMethod %>
                        </span>
                      </div>
                    </div>
                    <div class="one-eight text-center">
                      <div class="display-tc">
                        <a href="/profile/order/orderDetail?oid=<%= order._id %>" style="background-color: white; color: black;" class="btn btn-primary btn-sm">View More</a>
                          <!-- <a href="/profile/order/orderDetail?oid=<%= order._id %>" class="button editDltBtn" style="border-color: black; padding: 5px; color: black; background-color: white;">View more</a>   -->
                      </div>
                    </div>
                  </div>

                  <% }) %>
                  <% } else { %>
                    <div class="text-center"> <img src="/static/user/images/empty.png" class="mt-5" width="250px" height="250px" alt="empty cart"> </div>

                  <% } %>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 text-center">
              <div class="block-27">
                <ul>
                  <li>
                    <a href="" class="prevPageClass" id="prevBtn"><i class="ion-ios-arrow-back prevPageClass"></i></a>
                  </li>
    
                  <% for(let i=1; i<= totalPages; i++){ %>
                    <li class="active pagenationBtn" data-page-no="<%= i %>"><a id="pageNo"  style="background-color: #4f2f2d;"><%= i %></a></li>
                    <% } %>
    
                  <li>
                    <a href="" total-pages="<%= totalPages %>" class="nxtPageClass" id="nxtBtn"><i class="ion-ios-arrow-forward nxtPageClass"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div> 

        </div>
      </div>
    </div>
  </div>


  <!-- Order items Modal -->
  <div class="modal fade" id="orderItemModal" tabindex="-1" role="dialog" aria-labelledby="orderItemLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="billingModalLabel">Order id: <span id="showOrderId"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="orderItemContainer">


        </div>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 <script>
  document.addEventListener("DOMContentLoaded", (event) => {
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    let pgno = urlParams.get("page");
  
    let currentPath = window.location.pathname; 
  
    if(!pgno){
    urlParams.set('page', 1);
    window.history.replaceState({}, '', `${currentPath}?page=${1}`);
    }
  
    document.addEventListener("click", (event) => {
      queryString = window.location.search;
      urlParams = new URLSearchParams(queryString);
      pgno = urlParams.get("page");
    
      currentPath = window.location.pathname; 
    
      // Pagination number button
      if (event.target && event.target.closest(".pagenationBtn")) {
        let pageNo = event.target
          .closest(".pagenationBtn")
          .getAttribute("data-page-no");
        if (pgno != pageNo) {
        //   urlParams.set('page', pageNo);
          window.location.href = `${currentPath}?page=${pageNo}`;
        }
      }
      // Next button
      if (event.target && event.target.closest("#nxtBtn")) {
        event.preventDefault();
        const totalPages = event.target
          .closest("#nxtBtn")
          .getAttribute("total-pages");
  
        if (pgno < totalPages) {
          let n = Number(pgno) + 1;
        //   urlParams.set('page', n);
          window.location.href = `${currentPath}?page=${n}`;
        }
      }
      // Previous button
      if (event.target && event.target.closest("#prevBtn")) {
        event.preventDefault();
        if (pgno > 1) {
          let n = Number(pgno) - 1;
        //   urlParams.set('page', n);
          window.location.href = `${currentPath}?page=${n}`;
        }
      }
    });

})
</script>
  <script src="/static/custom/js/user/order.js"></script>

  <%- include('./footer') %>