<%- include('./header', {isLogin: isLogin, cartCount}) %>

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="bread">
            <span><a href="/" style="color: #4f2f2d;">Home</a></span> /
            <span>Profile</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="height: 100vh; margin-top: 100px;">
    <div class="profile-info">
      <h2><span id="p-fname">
          <%= user.firstName %>
        </span> <span id="p-lname">
          <%= user.lastName %>
        </span></h2>
      <p>Email: <span id="p-email">
          <%= user.email %>
        </span></p>
      <p>Phone: <span id="p-phone">
          <%= user.phone %>
        </span></p>
    </div>

    <div class="buttons">
      <a class="button" href="/address">Manage Address</a>
      <a class="button" data-toggle="modal" data-target="#profileEditModal">Edit Profile</a>
      <a class="button" href="/profile/order">My Orders</a>
      <a class="button" href="/profile/wallet">Wallet</a>
      <% if(!gUser){ %>
        <a class="button" href="/profile/changePassword">Change Password</a>
        <% } %>
          <div id="referral" referral-link="http://localhost:3000/signup?referralCode=<%= user.referral %>"
            class="button button-orange">Copy Referral Link</div>

    </div>
  </div>

  <div class="modal fade" id="profileEditModal" tabindex="-1" role="dialog" aria-labelledby="profileEditLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="billingModalLabel">EDIT PROFILE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" class="colorlib-form">
            <!-- <h2>EDIT PROFILE</h2> -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">Full Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="First name" />
                  <span id="firstNameError" style="color: red"></span>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" id="lastName" class="form-control" placeholder="Last name" />
                  <span id="lastNameError" style="color: red"></span>

                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" id="phone" class="form-control" placeholder="Phone number" />
                  <span id="phoneNumberError" style="color: red"></span>

                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" id="email" class="form-control" placeholder="Email address" disabled />
                  <span id="emailError" style="color: red"></span>

                </div>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="button" id="profileEditSaveBtn" class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function (event) {

      const firstName = document.getElementById('firstName')
      const lastName = document.getElementById('lastName')
      const phoneNumber = document.getElementById('phone')
      const emailAddress = document.getElementById('email')

      const pFirstName = document.getElementById('p-fname')
      const pLastName = document.getElementById('p-lname')
      const pEmail = document.getElementById('p-email')
      const pPhone = document.getElementById('p-phone')


      firstName.value = pFirstName.innerText
      lastName.value = pLastName.innerText
      phoneNumber.value = pPhone.innerText
      emailAddress.value = pEmail.innerText

      const firstNameError = document.getElementById('firstNameError')
      const lastNameError = document.getElementById('lastNameError')
      const phoneNumberError = document.getElementById('phoneNumberError')
      const emailError = document.getElementById('emailError')

      const profileEditSaveBtn = document.getElementById('profileEditSaveBtn')

      profileEditSaveBtn.onclick = function (event) {

        let isValid = true;


        //Name validation
        if (!firstName.value.trim()) {
          firstNameError.textContent = "This field is required";
          isValid = false;
        } else if (!/^(?! )[A-Za-zÀ-ÖØ-öø-ÿ' ]*(?<! )$/.test(firstName.value)) {
          firstNameError.textContent = "Enter a valid firstname";
          isValid = false;
        } else {
          firstNameError.textContent = "";
        }

        if (!lastName.value.trim()) {
          lastNameError.textContent = "This field is required";
          isValid = false;
        } else if (!/^(?! )[A-Za-zÀ-ÖØ-öø-ÿ' ]*(?<! )$/.test(lastName.value)) {
          lastNameError.textContent = "Enter a valid lastname";
          isValid = false;
        } else {
          lastNameError.textContent = "";
        }

        //Phone validation
        if (!phoneNumber.value.trim()) {
          phoneNumberError.textContent = "Phone number is required";
          isValid = false;
        } else if (
          phoneNumber.value &&
          !/^[789]\d{9}$/.test(phoneNumber.value)
        ) {
          phoneNumberError.textContent = "Enter a valid phone number";
          isValid = false;
        } else {
          phoneNumberError.textContent = "";
        }

        if (isValid) {
          axios
            .post("/profile/editProfile", { firstName: firstName.value.trim(), lastName: lastName.value.trim(), phoneNumber: phoneNumber.value.trim() })
            .then((response) => {
              const data = response.data.data

              pFirstName.innerText = data.firstName
              pLastName.innerText = data.lastName
              pPhone.innerText = data.phone

              document.querySelector('#profileEditModal .close').click();

            })
            .catch((error) => {
              console.log("it is an error", error);
            });
        }
      }

      const referral = document.getElementById('referral')

      referral.addEventListener('click', (event) => {
        event.preventDefault()

        const referralLink = referral.getAttribute('referral-link')


        navigator.clipboard.writeText(referralLink).then(function () {
          referral.innerText = "Link Copied"

          setTimeout(() => {
            referral.innerText = "Copy Referral Link"

          }, 1000)
        }).catch(function (error) {
          alert('Copy failed: ' + error);
        });
      })

    })
  </script>

  <%- include('./footer') %>