<%- include('./header', {isLogin: isLogin, cartCount}) %>

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="bread">
            <span><a href="/" style="color: #4f2f2d;">Home</a></span> / <span>Shop</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="colorlib-product">
    <div class="container">
      <div class="row">
         <div class="col-lg-3 col-xl-3">
          <form action="">
            <div class="row">

              <div class="col-sm-12">
                <label style="font-size: 18px;">FILTERS</label>
              </div>

              <div class="col-sm-12">
                <div class="side border mb-1 pb-0">
                  <a data-toggle="collapse" href="#collapseExample"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h3>Category</h3>
                    <h3><i class="icon-chevron-down"></i></h3>

                  </a>

                  <ul class="collapse" id="collapseExample">
                    <% filterCategory.forEach((category)=> {%>
                      <li><label><input type="checkbox" class="filter-category" name="filter-category"
                            value="<%=category.categoryName %>">
                          <%= category.categoryName %>
                        </label></li>
                      <% }) %>

                  </ul>
                </div>
              </div>


              <div class="col-sm-12">
                <div class="side border mb-1 pb-0">
                  <a data-toggle="collapse" href="#collapseBrandExample"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h3>Brand</h3>
                    <h3><i class="icon-chevron-down"></i></h3>

                  </a>

                  <ul class="collapse" id="collapseBrandExample">
                    <% filterBrand.forEach((brand)=> {%>
                      <li><label><input type="checkbox" class="filter-brand" name="filter-brand"
                            value="<%=brand.name %>">
                          <%= brand.name %>
                        </label></li>
                      <% }) %>

                  </ul>
                </div>
              </div>


              <div class="col-sm-12">
                <div class="side border mb-1 pb-0">
                  <a data-toggle="collapse" href="#collapseGenderExample"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h3>Gender</h3>
                    <h3><i class="icon-chevron-down"></i></h3>

                  </a>

                  <ul class="collapse" id="collapseGenderExample">
                    <li>
                      <label><input type="checkbox" class="filter-gender" name="filter-gender" value="men">
                        Men
                      </label>
                    </li>
                    <li>
                      <label><input type="checkbox" class="filter-gender" name="filter-gender" value="women">
                        Women
                      </label>
                    </li>
                    <li>
                      <label><input type="checkbox" class="filter-gender" name="filter-gender" value="unisex">
                        Men & Women
                      </label>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- <div class="col-sm-12">
                <div class="side border mb-1 pb-0">
                  <a data-toggle="collapse" href="#collapseColorExample"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h3>Color</h3>
                    <h3><i class="icon-chevron-down"></i></h3>

                  </a>

                  <ul class="collapse" id="collapseColorExample">
                    <li><label><input type="checkbox" name="filter-color" value="black"> Black</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="white"> White</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="blue"> Blue</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="red"> Red</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="green"> Green</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="grey"> Grey</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="orange"> Orange</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="cream"> Cream</label></li>
                    <li><label><input type="checkbox" name="filter-color" value="brown"> Brown</label></li>
                  </ul>
                </div>
              </div> -->


              <!-- <div class="col-sm-12">
                <div class="side border mb-1 pb-0">
                  <a data-toggle="collapse" href="#collapseSizeExample"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h3>Size</h3>
                    <h3><i class="icon-chevron-down"></i></h3>

                  </a>

                  <ul class="collapse" id="collapseSizeExample">
                    <li><label><input type="checkbox" name="filter-size" value="5"> 5</label></li>
                    <li><label><input type="checkbox" name="filter-size" value="6"> 6</label></li>
                    <li><label><input type="checkbox" name="filter-size" value="7"> 7</label></li>
                    <li><label><input type="checkbox" name="filter-size" value="8"> 8</label></li>
                    <li><label><input type="checkbox" name="filter-size" value="9"> 9</label></li>
                    <li><label><input type="checkbox" name="filter-size" value="10"> 10</label></li>
                    <li><label><input type="checkbox" name="filter-size" value="11"> 11</label></li>
                    <li><label><input type="checkbox" name="filter-size" value="12"> 12</label></li>
                  </ul>
                </div>
              </div> -->


              <!-- <div class="col-sm-12">
                <div class="side border mb-1 pb-0">
                  <a data-toggle="collapse" href="#collapsePriceExample"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h3>Price</h3>
                    <h3><i class="icon-chevron-down"></i></h3>

                  </a>

                  <ul class="collapse" id="collapsePriceExample">
                    <li><label><input type="checkbox" name="filter-price" value="0-500"> Below 500</label></li>
                    <li><label><input type="checkbox" name="filter-price" value="501-1000"> 501 - 1000</label></li>
                    <li><label><input type="checkbox" name="filter-price" value="1001-1500"> 1001 - 1500</label></li>
                    <li><label><input type="checkbox" name="filter-price" value="1501-2000"> 1501 - 2000</label></li>
                    <li><label><input type="checkbox" name="filter-price" value="2001-2500"> 2001 - 2500</label></li>
                    <li><label><input type="checkbox" name="filter-price" value="2501-3000"> 2501 - 3000</label></li>
                    <li><label><input type="checkbox" name="filter-price" value="3000-10000"> Above 3000</label></li>
                  </ul>
                </div>
              </div> -->

            </div>
          </form>
        </div>
        <div class="col-lg-9 col-xl-9"> 
          <div class="sort-by-container" id="sort-by">
            <label for="sort-by">SORT BY:</label>
            <select id="sort-by" name="sort-by">
              <option value="new">New arrivals</option>
              <option value="price-asc">Price: Low to High</option>
              <option value="price-desc">Price: High to Low</option>
              <option value="name-atoz">A to Z</option>
              <option value="name-ztoa">Z to A</option>
            </select>
          </div>
          <div style="min-height: 100vh;">

            <div class="row row-pb-md" id="item-container">

            </div>

          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="block-27">
                <ul>
                  <li>
                    <a href="" class="prevPageClass" id="prevPage"><i class="ion-ios-arrow-back prevPageClass"></i></a>
                  </li>

                  <li class="active" ><span id="pageNo" style="background-color: #4f2f2d;">1</span></li>
                  <li>
                    <a href="" class="nxtPageClass" id="nxtPage"><i class="ion-ios-arrow-forward nxtPageClass"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/custom/js/user/shop.js"></script>

  <%- include('./footer') %>