<%- include('./header', {isLogin: isLogin}) %>

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="bread">
                        <span><a href="/" style="color: #4f2f2d;">Home</a></span> /
                        <span>Wishlist</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-product">
        <div class="container">

            <div class="row row-pb-lg">
                <div class="col-md-12">
                    <div class="product-name d-flex">
                        <div class="one-forth text-left px-4">
                            <span>Product Details</span>
                        </div>
                        <div class="one-eight text-center">
                            <span></span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Price</span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Add to Cart</span>
                        </div>

                        <div class="one-eight text-center px-4">
                            <span>Remove</span>
                        </div>
                    </div>

                    <div id="wishlistItemsContainer">
                        <% if(wishlistItems.items && wishlistItems.items.length != 0){ %>
                        <% wishlistItems.items.map((item) => { %>

                        <div class="product-cart d-flex" id="wishlistItemContainer<%= item._id %>">
							<div class="one-forth">
								<div class="product-img" style="background-image: url('/static/images/<%= item.varientId.images[0] %>');">
								</div>
								<div class="display-tc">
									<span style="margin-left: 30px; color: black"><%= item.productId.modelName %> for <%= item.productId.gender %></span><br>
									<span style="margin-left: 30px;" class="price">Size: <%= item.subVarientId.size %>, Color: <%= item.varientId.colorName %></span><br>
				                   <% if(item.subVarientId.quantity==0){ %>
                                    <span style="margin-left: 30px; color: red;" >Out of stock</span>
                                    <% } %>
								</div>
							</div>
                            <div class="one-eight text-center">
								<div class="display-tc">
									<span class="price"></span>
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<span class="price">₹ <%= item.subVarientId.price %></span>
								</div>
							</div>
							<div class="one-eight text-center" >
                                <div class="display-tc">
                                  <a href="" style="background-color: #4f2f2d;" data-wishlist-item-id="<%= item._id %>" id="addToCartBtn<%= item.productId._id %>" product-id="<%= item.productId._id %>" varient-id="<%= item.varientId._id %>" sub-varient-id="<%= item.subVarientId._id %>" class="btn btn-primary btn-addtocart addToCartBtn"><i class="icon-shopping-cart"></i> Add </a>
                                </div>
							</div>
		
							<div class="one-eight text-center">
								<div class="display-tc">
									<a href="" data-wishlist-item-id="<%= item._id %>" class="removeFromWishlist closed"></a>
								</div>
							</div>
						</div>

                        <% }) %>
                        <% }else{ %>
                           <div class="text-center"> <img src="/static/user/images/empty.png" class="mt-5" width="250px" height="250px" alt="empty cart"> </div>

                        <% } %>    

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/static/custom/js/user/wishlist.js"></script>

    <%- include('./footer') %>